## Load Data and dependencies

In [3]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [ ]:
# load the datasets
train = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\playground-series-s4e10\train.csv")
test = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\playground-series-s4e10\test.csv")

In [ ]:
train.head()

   id  person_age  ...  cb_person_cred_hist_length loan_status
0   0          37  ...                          14           0
1   1          22  ...                           2           0
2   2          29  ...                          10           0
3   3          30  ...                           5           0
4   4          22  ...                           3           0

[5 rows x 13 columns]

In [8]:
test.head()

      id  person_age  ...  cb_person_default_on_file cb_person_cred_hist_length
0  58645          23  ...                          N                          2
1  58646          26  ...                          Y                          4
2  58647          26  ...                          Y                          2
3  58648          33  ...                          N                          7
4  58649          26  ...                          Y                          4

[5 rows x 12 columns]

In [10]:
# check shape

print('train dataset shape:', train.shape)

print('test dataset shape:', test.shape)

train dataset shape: (58645, 13)
test dataset shape: (39098, 12)

In [ ]:
col_train = np.array([c for c in train.columns])
col_test = np.array([c for c in test.columns])

['id' 'person_age' 'person_income' 'person_home_ownership'
 'person_emp_length' 'loan_intent' 'loan_grade' 'loan_amnt'
 'loan_int_rate' 'loan_percent_income' 'cb_person_default_on_file'
 'cb_person_cred_hist_length' 'loan_status']
['id' 'person_age' 'person_income' 'person_home_ownership'
 'person_emp_length' 'loan_intent' 'loan_grade' 'loan_amnt'
 'loan_int_rate' 'loan_percent_income' 'cb_person_default_on_file'
 'cb_person_cred_hist_length']

## Data cleaning

In [15]:
# drop duplicates 
train = train.drop_duplicates()
test = test.drop_duplicates()

In [19]:
# check for data types
train.dtypes

id                              int64
person_age                      int64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
loan_status                     int64
dtype: object

In [24]:
# check for null values
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [ ]:
# check for and clamp on outliers (strategy = mean)
def clamp_outliers(data):
    for col in data.columns:
        q1 = col.quantile[0.25]
        q3 = col.quantile[0.75]
        iqr = q3 - q1

## Exploratory Data Analysis

In [23]:
# summary statistics 
round(train.describe(), 2)

            id  person_age  ...  cb_person_cred_hist_length  loan_status
count  58645.0    58645.00  ...                    58645.00     58645.00
mean   29322.0       27.55  ...                        5.81         0.14
std    16929.5        6.03  ...                        4.03         0.35
min        0.0       20.00  ...                        2.00         0.00
25%    14661.0       23.00  ...                        3.00         0.00
50%    29322.0       26.00  ...                        4.00         0.00
75%    43983.0       30.00  ...                        8.00         0.00
max    58644.0      123.00  ...                       30.00         1.00

[8 rows x 9 columns]