## Load Data and dependencies

In [3]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [41]:
# load the datasets
train = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\playground-series-s4e10\train.csv", index_col=0)

In [42]:
train.head()

    person_age  person_income  ... cb_person_cred_hist_length  loan_status
id                             ...
0           37          35000  ...                         14            0
1           22          56000  ...                          2            0
2           29          28800  ...                         10            0
3           30          70000  ...                          5            0
4           22          60000  ...                          3            0

[5 rows x 12 columns]

In [43]:
# check shape
print('train dataset shape:', train.shape)

train dataset shape: (58645, 12)

## Data cleaning 
    - drop the duplicates of the datesets first
    - check for data types and correct any errors in their representation
    - check null values and impute them using mean/ median strategy where appropriate
    - check for outliers in the dataset 
        develop boxplots for numerical features to identify feature with extreme outliers
        clamp on the outliers

In [44]:
# drop duplicates 
train = train.drop_duplicates()
print('train dataset shape:', train.shape)

train dataset shape: (58645, 12)

In [45]:
# check for data types and null values
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58645 entries, 0 to 58644
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  58645 non-null  int64
 1   person_income               58645 non-null  int64
 2   person_home_ownership       58645 non-null  object
 3   person_emp_length           58645 non-null  float64
 4   loan_intent                 58645 non-null  object
 5   loan_grade                  58645 non-null  object
 6   loan_amnt                   58645 non-null  int64
 7   loan_int_rate               58645 non-null  float64
 8   loan_percent_income         58645 non-null  float64
 9   cb_person_default_on_file   58645 non-null  object
 10  cb_person_cred_hist_length  58645 non-null  int64
 11  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 5.8+ MB

In [46]:
train.head(10)

    person_age  person_income  ... cb_person_cred_hist_length  loan_status
id                             ...
0           37          35000  ...                         14            0
1           22          56000  ...                          2            0
2           29          28800  ...                         10            0
3           30          70000  ...                          5            0
4           22          60000  ...                          3            0
5           27          45000  ...                          5            0
6           25          45000  ...                          3            0
7           21          20000  ...                          3            0
8           37          69600  ...                         11            0
9           35         110000  ...                          6            0

[10 rows x 12 columns]

In [ ]:
# box plot for features

In [ ]:
# check for and clamp on outliers (strategy = mean)
def clamp_outliers(data):
    for col in data.columns:
        q1 = col.quantile[0.25]
        q3 = col.quantile[0.75]
        iqr = q3 - q1

## Exploratory Analysis
    - summary statistics of the dataset
    - value counts distribution for object features
    - distribution of numerical features

In [47]:
# summary statistics 
round(train.describe(), 2)

       person_age  person_income  ...  cb_person_cred_hist_length  loan_status
count    58645.00       58645.00  ...                    58645.00     58645.00
mean        27.55       64046.17  ...                        5.81         0.14
std          6.03       37931.11  ...                        4.03         0.35
min         20.00        4200.00  ...                        2.00         0.00
25%         23.00       42000.00  ...                        3.00         0.00
50%         26.00       58000.00  ...                        4.00         0.00
75%         30.00       75600.00  ...                        8.00         0.00
max        123.00     1900000.00  ...                       30.00         1.00

[8 rows x 8 columns]

# Feature Engineering

## Model training 

1. RandomForestRegressor
    - check for correlation
    - 

2. RandomForestClassifier